cffi==1.15.0
cryptography==3.3.2
pycparser==2.20
PyMySQL==0.10.1
python-dotenv==0.15.0
six==1.15.0
prettytable==3.0.0
colorama== 0.4.4
termcolor== 1.1.0
progress_bar==8
pyfiglet== 0.7
cowsay== 4.0
loading-bars== 0.0.1
